In [19]:
import pandas as pd
import numpy as np

In [20]:
df=pd.read_csv("C://Users//mvish//Desktop//blogs_categories.csv")
df

,Unnamed: 0,Data,Labels
0,0,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:49...,alt.atheism
1,1,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism
2,2,Newsgroups: alt.atheism\nPath: cantaloupe.srv....,alt.atheism
3,3,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism
4,4,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism
...,...,...,...
19992,19992,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:54...,talk.religion.misc
19993,19993,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:54...,talk.religion.misc
19994,19994,Xref: cantaloupe.srv.cs.cmu.edu talk.religion....,talk.religion.misc
19995,19995,Xref: cantaloupe.srv.cs.cmu.edu talk.religion....,talk.religion.misc
19996,19996,Xref: cantaloupe.srv.cs.cmu.edu talk.abortion:...,talk.religion.misc

In [21]:
df.head()

   Unnamed: 0                                               Data       Labels
0           0  Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:49...  alt.atheism
1           1  Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...  alt.atheism
2           2  Newsgroups: alt.atheism\nPath: cantaloupe.srv....  alt.atheism
3           3  Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...  alt.atheism
4           4  Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...  alt.atheism

In [22]:
df.describe()

         Unnamed: 0
count  19997.000000
mean    9998.000000
std     5772.781002
min        0.000000
25%     4999.000000
50%     9998.000000
75%    14997.000000
max    19996.000000

In [23]:
import re
import string
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
nltk.download('stopwords')

# Remove the unnecessary index column
df = df.drop(columns=['Unnamed: 0'])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mvish\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
def clean_text(text):
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Convert to lowercase
    text = text.lower()
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    text = ' '.join([word for word in text.split() if word not in stop_words])
    return text

In [26]:
df['Cleaned_Data'] = df['Data'].apply(clean_text)

# Display the first few rows of the cleaned dataframe
df.head()

,Data,Labels,Cleaned_Data
0,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:49...,alt.atheism,xref cantaloupesrvcscmuedu altatheism49960 alt...
1,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism,xref cantaloupesrvcscmuedu altatheism51060 alt...
2,Newsgroups: alt.atheism\nPath: cantaloupe.srv....,alt.atheism,newsgroups altatheism path cantaloupesrvcscmue...
3,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism,xref cantaloupesrvcscmuedu altatheism51120 alt...
4,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism,xref cantaloupesrvcscmuedu altatheism51121 soc...

In [27]:
stop_words = set([
    'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours', 
    'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers', 
    'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 
    'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are', 
    'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 
    'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 
    'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 
    'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 
    'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 
    'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 
    'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 
    'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now'
])

In [28]:
def clean_text(text):
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Convert to lowercase
    text = text.lower()
    # Remove stopwords
    text = ' '.join([word for word in text.split() if word not in stop_words])
    return text

# Apply the clean_text function to the Data column
df['Cleaned_Data'] = df['Data'].apply(clean_text)

# Display the first few rows of the cleaned dataframe
df.head()

,Data,Labels,Cleaned_Data
0,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:49...,alt.atheism,xref cantaloupesrvcscmuedu altatheism49960 alt...
1,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism,xref cantaloupesrvcscmuedu altatheism51060 alt...
2,Newsgroups: alt.atheism\nPath: cantaloupe.srv....,alt.atheism,newsgroups altatheism path cantaloupesrvcscmue...
3,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism,xref cantaloupesrvcscmuedu altatheism51120 alt...
4,Xref: cantaloupe.srv.cs.cmu.edu alt.atheism:51...,alt.atheism,xref cantaloupesrvcscmuedu altatheism51121 soc...

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

# Initialize the TF-IDF Vectorizer
tfidf = TfidfVectorizer(max_features=5000)

# Transform the cleaned text data to TF-IDF features
X = tfidf.fit_transform(df['Cleaned_Data'])

# Encode the labels
y = df['Labels']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Naive Bayes classifier
nb_classifier = MultinomialNB()

# Train the classifier
nb_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = nb_classifier.predict(X_test)

# Evaluate the classifier
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')
classification_rep = classification_report(y_test, y_pred)

# Print evaluation results
print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1-Score: {f1}')
print(f'Classification Report:\n{classification_rep}')

Accuracy: 0.87525
Precision: 0.8749294845775325
Recall: 0.87525
F1-Score: 0.8731653223782875
Classification Report:
                          precision    recall  f1-score   support

             alt.atheism       0.70      0.78      0.74       173
           comp.graphics       0.76      0.88      0.82       179
 comp.os.ms-windows.misc       0.87      0.87      0.87       226
comp.sys.ibm.pc.hardware       0.84      0.80      0.82       204
   comp.sys.mac.hardware       0.87      0.92      0.90       205
          comp.windows.x       0.92      0.91      0.92       186
            misc.forsale       0.83      0.88      0.86       190
               rec.autos       0.91      0.92      0.91       203
         rec.motorcycles       0.98      0.92      0.95       218
      rec.sport.baseball       0.97      0.97      0.97       192
        rec.sport.hockey       0.97      0.98      0.97       203
               sci.crypt       0.95      0.94      0.94       200
         sci.electronics       0.93      0.88      0.90       227
                 sci.med       0.96      0.93      0.95       196
               sci.space       0.94      0.93      0.93       205
  soc.religion.christian       0.87      0.99      0.92       215
      talk.politics.guns       0.79      0.93      0.85       205
   talk.politics.mideast       0.93      0.92      0.93       197
      talk.politics.misc       0.81      0.66      0.73       200
      talk.religion.misc       0.62      0.45      0.52       176

                accuracy                           0.88      4000
               macro avg       0.87      0.87      0.87      4000
            weighted avg       0.87      0.88      0.87      4000

In [ ]:
1. Introduction
The goal of this assignment is to build a text classification model using the Naive Bayes algorithm to categorize blog posts and to
perform sentiment analysis to understand the general sentiment expressed in these posts.
The dataset "blogs_categories.csv" consists of blog posts categorized into various themes.

2. Data Exploration and Preprocessing
We start by loading the dataset and inspecting its structure. We then preprocess the text data by removing punctuation, converting to lowercase, and removing stopwords. The cleaned text is then ready for feature extraction.

3. Feature Extraction
We use the TF-IDF (Term Frequency-Inverse Document Frequency) technique to convert the text data into numerical features. TF-IDF helps in understanding the importance of words in the context of the document and the corpus.

4. Naive Bayes Model for Text Classification
The cleaned text data is split into training and testing sets. We then train a Naive Bayes classifier on the training set and evaluate its performance on the test set using accuracy, precision, recall, and F1-score.

5. Sentiment Analysis
We perform sentiment analysis using the TextBlob library, which classifies the sentiment of each blog post as positive, neutral, or negative. We then examine the distribution of sentiments across different categories.

6. Evaluation and Discussion
We discuss the performance of the Naive Bayes classifier and the insights from the sentiment analysis. The evaluation metrics provide a quantitative measure of the model's performance.

7. Conclusion
We summarize our findings and reflect on the implications of the results.